/* Общие стили для сайта */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #007bff;
}

.navbar a {
    color: white;
}

.footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
}

.booking-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.form-label {
    font-size: 16px;
    font-weight: bold;
    color: #495057;
}

.form-control {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.form-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

#map {
    margin-right: 20px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-photo img {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.thumbnails img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.thumbnails img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}