{% extends "base.html" %}

{% block content %}
<h1>Select a Room</h1>
<div class="row">
    {% for room in rooms %}
    <div class="col-md-4">
        <div class="card mb-4">
            <img src="{{ url_for('static', filename='images/room' ~ loop.index ~ '.jpg') }}" class="card-img-top" alt="{{ room.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ room.name }}</h5>
                <p class="card-text">{{ room.location }}</p>
                <p class="card-text">${{ room.price }}/night</p>
                {% if room.availability %}
                    <a href="{{ url_for('book_room', room_id=room.id) }}" class="btn btn-primary">Book Now</a>
                {% else %}
                    <button class="btn btn-secondary" disabled>Booked</button>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}